.corpo-dados {
  display: grid;
  grid-column: 2 / 4;
  grid-row: 3 / 3;
  border-style: solid;
  border-color: black;
}

.menu-dados{
  background: tomato;
  display: grid;
  grid-template-areas:
  "item"
  "dados";
grid-template-columns: 50% 50%;
grid-template-rows: 11% 11% 11% 11% 11% 11% 11% 11% 12%;
}