.mensagem {
  grid-column: 2 / 4;
  grid-row: 2 / 2;
  flex-direction: column;
  justify-content: space-evenly;
 
}

.corpo-info {
  text-align: center;
  border-right-style: solid;
  border-left-style: solid;
  justify-content: center;
  margin: 0;
  padding: 0.8rem;
}
