.rodape{
 display: grid;
 grid-template-columns: 30% 20% 20% 30%;
}

.base-Rodape{
  grid-column: 2/ 4;
  grid-row: 1 / 1;
}

.mensagem-rodape{
  text-align: center;
  margin: 0;
  padding: 2rem;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-radius: 0 0 30px 30px;
}