.body-login {
    background-color: rgba($cor-fundo-login, 1);
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

}

.main-login {
    background-color: rgba($cor-menu-login, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px;
    border-radius: 2rem;
    box-shadow: 10px 10px 10px 5px black;
    padding: 5rem;
}