.menu {
  width: 40rem;

}

.menu_navbar {
  border-style: solid;
  border-color: rgba($cor-borda, 0.8);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background: rgba($cor-fundo-menu, 0.8);
}


