.logo_imagem {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 8rem;
    width: 8rem;
}

.logo_imagem-icone {
    background-image: url("../img/logo.png");
}