$cor-fundo-body: darken(#dfdfdf, 0%);
$cor-borda: darken(#813636, 0%);
$cor-fundo-menu: darken(#dfcccc, 0%);

$cor-texto: black;
$cor-fundo-login: #363537;
$cor-menu-login: #5c5b5e;
$cor-menu-fundo-login: #dfdfdf;
$cor-texto-login: #bad5dd;
$cor-botao-login: #80c783;

$fonte-marca: Snell Roundhand, cursive ;

$mq-mobile: "(max-width:980px)";