$cor-fundo-body: darken(#dfdfdf, 0%);
$cor-borda: darken(#813636, 0%);
$cor-fundo-menu: darken(#dfcccc, 0%);


$cor-fundo-login: darken(#363537, 0%);
$cor-menu-login: darken(#5c5b5e, 0%);
$cor-texto-login: darken(#bad5dd, 0%);
$cor-botao-login: darken(#80c783, 0%);

$fonte-marca: Snell Roundhand, cursive ;