html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

a:hover,
button:hover {
  cursor: pointer; }

.body-login {
  background-color: #363537;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center; }

.main-login {
  background-color: #5c5b5e;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px;
  border-radius: 2rem;
  box-shadow: 10px 10px 10px 5px black;
  padding: 2rem;
  margin: 15rem;
  max-width: 50%; }

.menu-form {
  display: flex;
  flex-direction: column;
  width: 70%; }

.logo-login {
  margin-bottom: 2rem; }

.login-ic {
  background: #dfdfdf;
  margin-bottom: 1.5em;
  padding: 8px;
  display: flex; }
  .login-ic i {
    background: url(../img/m.png) no-repeat 6px 6px;
    width: 38px;
    height: 38px;
    display: inline-block; }
  .login-ic i.icon {
    background: url(../img/l.png) no-repeat 6px 6px; }
  .login-ic input[type="text"], .login-ic input[type="password"] {
    background: none;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    color: black;
    padding: 10px 16px;
    border: none;
    border-left: 1px solid #fff;
    width: 82%;
    display: inline-block;
    margin-left: 7px; }

.log-bwn {
  text-align: center; }
  .log-bwn input[type="submit"] {
    font-size: 15px;
    font-weight: 700;
    color: #bad5dd;
    padding: 13px 0;
    background: #80c783;
    display: inline-block;
    width: 100%;
    outline: none;
    border: 2px solid #80c783;
    cursor: pointer;
    text-transform: uppercase; }
  .log-bwn input[type="submit"]:hover {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    border: 2px solid #bad5dd; }

/*# sourceMappingURL=style.css.map */
